<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cours_ado.coursado">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".espaceConnexionProfesseur"
            android:label="@string/login_professeur">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".listeEleve"
            android:label="@string/listeEleve" />
        <activity
            android:name=".choixProfesseur"
            android:label="@string/Professeur" />
        <activity android:name=".SaisirBillet" />
        <activity android:name=".controleTicket" />
        <activity android:name=".listeCours" />
        <activity android:name=".NouveauBilan" />
        <activity android:name=".listeBilans" />
        <activity android:name=".modifierBilan"></activity>
    </application>

</manifest>
